img {
  clear: both;
  width: 100px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}
.username {
  font-weight: bold;
  /* font-size: 100px; */
}
#babySeal {
  clear: both;
  display: block;
}
#coffee {
  display: block; /*  make inline object to block */
}