body{
    background-color: rgb(28, 23, 25);
    color: white;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
div{
    display: block;
    padding: 0;
    margin: 0;
}

#main-div{
    /* align-items: center;
    justify-content: center;
    justify-items: center */
    

}


#player-profile-title{
    height:60px;
    display: flex;
    
    background-color:rgb(46, 31, 37) ;
    background: linear-gradient(rgb(131, 37, 74), rgb(48, 34, 39) );
    
}

#osu-title-image-section{
    margin-left: 25%;
    padding-right: 3px;
}


#osu-title-image{
    margin-top: 2px;
    box-sizing: content-box;

    transition: all .1s ease-in-out;
}
#osu-title-image:hover{

    height: 55px;
    border-radius: 1PX;
    background: url("https://osu.ppy.sh/assets/images/osu-logo-triangles.b1e57c37.svg");

}




#player-info-text{
    height: 100%;
font-size: 18px;
justify-content: center;
padding-top: 16px;

}


#beat-map-title{
    background: radial-gradient(rgb(171, 60, 104), rgb(0, 0, 0) );
    width: 90%;
    margin-left:5% ;
    height: 55px;
    border-radius: 2% ;
    padding-top: 16px;
    text-align: center;
}
#favourite-beatmaps-title{
    height: 100%;
    font-size: 18px;
    padding-top: 16px;

}





#user-information-div{


    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    width:85%;
    height: 120px;
    background-color: rgb(56, 46, 50);
    margin-left: 7.5% ;
    border-radius: 30px;

}
@media screen and (max-width: 688.67px) {
    #user-information-div{
        height: 155px;
    }
    
}
@media screen and (max-width: 430px) {
    #user-information-div{
        height: 180px;
    }
    
}

@media screen and (max-width: 297px) {
    #user-information-div{
        height: 240px;
    }
    
}
    


#player-information{ /* div*/
    display: flex;
    flex-direction: row;
    /* background-color: rgb(56, 46, 50); */
    width: 120px;
    height: 120px;

}



#player-avatar{ 

    margin: 10px 10px;
    height: 90px;
    
    border-radius: 50%;
    position: relative;


}

#player-avatar:hover{
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(215, 74, 137);
}





#user-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 25px;
    display: block;
}




#player-flag{

    height: auto;

}

#country-name{
    white-space: nowrap ; 
margin-left: 5px;

}



#country-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#beatmaps-rank-section{
    /* background-color: red; */


    width: 300px;
    display:flex;
    /* flex-wrap: wrap; */
margin-left: 40px;
    align-items: center;
    justify-content: space-between;


}

.score-image-ranks{ /*div*/
    /* font-size: 22px; */
    /* height: ; */
    display: flex;
    flex-direction: column;
    
}

.score-rank-icon{
    height: auto;
}

.number{
    font-weight: bold;
font-size: 1.7vh;
text-align: center;

} 

#setting-section{
    display: flex;
  width:7vw;
}
/* #setting-image-link{
 
} */
#beat-map-section{
    

    display:grid;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    height: auto;
    background-color: rgb(42, 34, 38);
    margin-left: 7.5%;
    border-radius: 30px;
    grid-template-columns: auto auto;
}
.beat-map-info{
    background-color: rgb(56, 46, 50);
    /* width: 100%; */
    height: 140px;
    width: auto;
    display: flex;
    border-radius: 10%;
    /* margin-left: 30px;
    margin-right: 30px; */
    margin: 10px;
    grid-gap: 1.5em;
}
@media screen and (max-width: 750px) {
   
    #beat-map-section{
    display: block;
   
    }
 
}

.beat-map-image{
    border-radius: 10%;
    
    margin-top:3px ;
    margin-right:3px ;
}
.beat-map-image:hover{
    border: solid;
    border-color: #f32c96;
    
    
}
.beat-map-image-section{
    width: 200px;
    height: 100%;
    margin: 10px;
}

.beatmap-name-section{
/* font-size: 60%; */
/* width: 40px; */
}
.beatmap-name{
   margin-right: 30px;
   padding-right: 30px;
   font-family: 'Roboto Mono', monospace;
    }
.beat-map-audio{
    text-align: center;
}
.audio-button{
    cursor: pointer;
    border-radius: 5px;
    color: whitesmoke;
    border-color: rgb(222, 49, 174);
    background-color: rgb(94, 44, 66);
    font-size: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
 
}
.download-button{
    background-color: rgb(131, 46, 80);
    border: none;
    color: white;
    padding: 6px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 100%;
    transition: all 0.5s;
}
.download-button:hover{
    background-color: rgb(206, 68, 123);
    padding: 10px 23px;


}
