body{
    background-color: rgb(28, 23, 25);
    color: white;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#user-information-div{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: rgb(56, 46, 50);

}

#player-information{ /* div*/
    display: flex;
    flex-direction: row;
    background-color: rgb(56, 46, 50);
    width: 120px;
    height: 120px;

}



#player-avatar{ 

    margin: 10px 10px;
    height: 90px;
    
    border-radius: 50%;
    position: relative;


}

#player-avatar:hover{
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(215, 74, 137);
}





#user-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 25px;
    display: block;
}




#player-flag{

    height: auto;

}

#country-name{
    
margin-left: 5px;

}



#country-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
